h1{
    
    
    
    border-radius:5px solid red;
}





h2{
    background: ;
    
    border-radius:5px solid red;
}


p{
   font-family:cursive; 
    
}
footer{
    
    
    text-align:center;
}
